footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    margin-top: 14%;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        margin-top: 17.6%;
    }

    .footer-paragraph {
        width: 40%;
        margin-right: 1%;
        margin-bottom: 2%;
        padding-top: 0.3%;
        padding-bottom: 0.3%;
        height: 34px;
        position: relative;
        top: 6px;
        background-color: #ececec;
        text-align: center;
        font-weight: 550;
        font-size: 19px;

        @media screen and (max-width: 992px) {
            width: 1950px;
            padding-bottom: 0;
            height: 30.7px;
            top: 8.6px;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            font-size: 17.8px;
            margin: 0;
        }
    }

    .external-links {
        width: 39%;
        height: 49px;
        display: flex;
        align-items: center;
        margin-left: 6%;
        margin-right: 10%;

        .first-external-link {
            margin-right: 4.3%;
            width: 16%;
            text-align: center;
            padding: 3%;
            background-color: #ececec;
            position: relative;
            bottom: 1px;
            left: 115px;

            @media screen and (max-width: 992px) {
                width: 33%;
                padding: 6.2%;
                top: 0.5px;
                left: 12px;
            }

            @media screen and (max-width: 768px) {
                padding: 0;
                padding-top: 7px;
                margin-top: 1.4px;
                padding-bottom: 34px;
                width: 39%;
                height: 31px;
                left: 0px;
            }

            i {
                transform: scale(2.4);
                color: #184d80;

                @media screen and (max-width: 768px) {
                    transform: scale(2);
                }
            }
        }

        .second-external-link {
            width: 16%;
            background-color: #ececec;
            padding: 3%;
            text-align: center;
            position: relative;
            bottom: 1px;
            left: 186px;

            @media screen and (max-width: 992px) {
                width: 32.5%;
                padding: 6.2%;
                top: 0.5px;
                left: 36px;
            }

            @media screen and (max-width: 768px) {
                padding: 0;
                padding-top: 7px;
                margin-top: 1.4px;
                padding-bottom: 34px;
                width: 39%;
                height: 31px;
                left: 0px;
            }

            i {
                transform: scale(2.4);
                color: rgb(61, 60, 60);
                position: relative;
                bottom: 0.7px;

                @media screen and (max-width: 768px) {
                    transform: scale(2);
                }
            }
        }

        @media screen and (max-width: 992px) {
            width: 800px;
        }

        @media screen and (max-width: 768px) {
            align-items: flex-start;
            justify-content: space-around;
            margin-top: 5.3%;
            margin-left: 9.2%;
            width: 30%;
        }

    }


    .languages {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 26%;
        background-color: #ececec;
        padding-top: 0%;
        padding-bottom: 0.14%;
        position: relative;
        top: 6px;


        .fr {
            text-align: right;
            margin-right: 1%;
            text-decoration: none;
            color: black;
            font-weight: 600;
            font-size: 19px;
            width: 90%;
            position: relative;
            top: 1.9px;

            @media screen and (max-width: 992px) {
                font-size: 17.6px;
                top: 1.5px;
            }

            @media screen and (max-width: 768px) {
                font-size: 16.3px;
                width: 50%;
                left: 6px;
            }

        }

        .en {
            text-decoration: none;
            color: black;
            font-weight: 600;
            font-size: 19px;
            width: 90%;
            position: relative;
            top: 1.9px;

            @media screen and (max-width: 992px) {
                font-size: 17.6px;
                top: 1.5px;
            }

            @media screen and (max-width: 768px) {
                font-size: 16.3px;
                width: 50%;
                left: 6px;
            }
        }

        @media screen and (max-width: 992px) {
            width: 1300px;
            top: 8.2px;
        }

        @media screen and (max-width: 768px) {
            width: 61%;
            padding-top: 0.5%;
            margin-bottom: 6.7%;
        }

        @media screen and (max-width: 768px) and (orientation: landscape) {
            margin-bottom: 3.7%;
        }
    }

}