.bio-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background-color: #184d80;

    @media screen and (max-width: 992px) and (orientation: portrait) {
        height: 100vh;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
        height: auto;
    }

    @media screen and (max-width: 768px) {
        height: auto;
    }
}

.bio-container {
    display: flex;

    @media screen and (max-width:768px) {
        flex-direction: column;
        align-items: center;

        p {
            order: 2;
        }

        p+.navigation-container {
            order: 1;
        }

    }
}