.achievements-page-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #184d80;

    @media screen and (max-width: 992px) and (orientation: portrait) {
        height: 100vh;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
        height: auto;
    }

    @media screen and (max-width: 768px) {
        height: auto;
    }
}

.timeline-container {
    display: flex;
    justify-content: flex-start;
    width: 95%;
    margin-left: 2.5%;
    height: 200px;
    border-top: 2.3px black solid;
    border-left: 2.3px black solid;
    border-right: 2.3px black solid;
    border-bottom: 2.4px black solid;
    background-color: #ececec;
    margin-bottom: 8.3%;

    @media screen and (max-width: 768px) {
        width: 90%;
        flex-direction: column;
        margin-left: 5%;
        height: auto;
    }
}

.timeline-title {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
        text-align: center;
        width: 90%;
        border: 1px black solid;
        background-color: #ececec;
        margin-left: 5%;
        margin-top: 9.5%;
        margin-bottom: 4%;
        font-weight: 500;
        font-size: 17.8px;

        strong {
            font-size: 21px;

        }
    }
}