.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media screen and (max-width:992px) {
        flex-direction: column;
        align-items: flex-end;
    }

    @media screen and (max-width:768px) {
        align-items: center;
    }
}

h1 {
    font-weight: 550;
    background-color: #ececec;
    padding-left: 1%;
    padding-right: 1.5%;

    @media screen and (max-width:768px) {
        font-size: 28px;
        padding-left: 0.5%;
        padding-right: 0.5%;
    }
}

.bio-header-paragraph {
    font-weight: 550;
    font-size: 20px;
    margin-bottom: 1.1%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    width: 41%;
    background-color: #ececec;
    text-align: center;

    @media screen and (max-width:992px) {
        width: 100%;
        margin-top: 0;
        text-align: right;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 2.9%;
    }

    @media screen and (max-width:768px) {
        width: 100%;
        font-size: 17.8px;
        text-align: center;
        padding-right: 0;
        margin-bottom: 2.3%;
    }
}

.paragraph-container {
    width: 77%;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width:992px) {
        width: 44%;
        background-color: #ececec;
    }

    @media screen and (max-width:768px) {
        background-color: transparent;
        justify-content: center;
        width: 100%;
    }
}