.achievements-header-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 13%;
    margin-bottom: 2%;
    width: 100%;

    .homepage-button {
        border-color: #ececec;
        background-color: #ececec;
        width: 17%;
        font-size: 14.5px;
        cursor: pointer;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-right: 2%;
    }

    i {
        transform: scale(1.6);
    }

    .projects-button {
        border-color: #ececec;
        background-color: #ececec;
        width: 17%;
        font-size: 14.5px;
        text-align: center;
        margin-right: 2.5%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-left: 2%;

        i {
            transform: scale(1.6);
        }
    }

    @media screen and (max-width: 992px) {
        justify-content: flex-start;
        margin-top: 4.5%;
        margin-bottom: 2.5%;

        .homepage-button {
            width: 21.3%;
            margin-left: 2.5%;
        }

        .projects-button {
            width: 21.3%;
        }
    }

    @media screen and (max-width: 768px) {
        margin-top: 2%;
        width: 95%;
        margin-left: 2.5%;
        justify-content: center;

        .homepage-button {
            width: 100%;
            text-align: right;
            padding-right: 1.2%;
        }

        .projects-button {
            width: 100%;
            text-align: left;
            padding-left: 0.8%;
        }
    }
}

.achievements-header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media screen and (max-width:992px) {
        flex-direction: column;
        align-items: flex-end;
    }

    @media screen and (max-width:768px) {
        align-items: center;
    }
}

h1 {
    font-weight: 550;
    background-color: #ececec;
    padding-left: 1%;
    padding-right: 1.5%;

    @media screen and (max-width:768px) {
        font-size: 28px;
        padding-left: 0.5%;
        padding-right: 0.5%;
    }
}

.achievements-header-paragraph {
    font-weight: 550;
    font-size: 20px;
    margin-bottom: 1.1%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    width: 41%;
    background-color: #ececec;
    text-align: center;

    @media screen and (max-width:992px) {
        width: 100%;
        text-align: right;
        padding-right: 2.9%;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;

    }

    @media screen and (max-width:768px) {
        width: 100%;
        font-size: 17.8px;
        margin-bottom: 1.70%;
        padding-right: 0;
        text-align: center;
    }
}

.achievements-paragraph-container {
    width: 77%;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width:992px) {
        width: 44%;
        background-color: #ececec;
    }

    @media screen and (max-width:768px) {
        width: 100%;
        justify-content: center;
        background-color: transparent;
    }
}