.achievements-header-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 13%;
    margin-bottom: 2%;
    width: 100%;

    button {
        background-color: #ececec;
        width: 14.3%;
        cursor: pointer;
        text-align: center;
    }

    i {
        margin-right: 9.2%;
        transform: scale(1.6);
    }

    button+button {
        width: 14.3%;
        text-align: center;
        margin-right: 2.5%;

        i {
            margin-left: 9.2%;
            transform: scale(1.6);
        }
    }

    @media screen and (max-width: 992px) {
        justify-content: flex-start;
        margin-top: 4.5%;
        margin-bottom: 2.5%;

        button {
            width: 21.3%;
            margin-left: 2.5%;
        }

        button+button {
            width: 21.3%;
            margin-left: 0;
        }
    }

    @media screen and (max-width: 768px) {
        margin-top: 2%;
        width: 90%;
        margin-left: 5%;
        justify-content: center;

        button {
            width: 47%;
            text-align: left;

            i {
                margin-right: 10.2%;
            }
        }

        button+button {
            width: 47%;
            text-align: right;

            i {
                margin-left: 10.2%;
            }
        }


    }
}

.achievements-header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media screen and (max-width:992px) {
        flex-direction: column;
        align-items: flex-end;
    }

    @media screen and (max-width:768px) {
        align-items: center;
    }
}

h1 {
    font-weight: 550;
    background-color: #ececec;
    padding-left: 1%;
    padding-right: 1.5%;

    @media screen and (max-width:768px) {
        font-size: 28px;
        padding-left: 0.5%;
        padding-right: 0.5%;
    }
}

p {
    font-weight: 550;
    font-size: 20px;
    margin-bottom: 1.1%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    width: 41%;
    background-color: #ececec;
    text-align: center;

    @media screen and (max-width:992px) {
        width: 58%;
    }

    @media screen and (max-width:768px) {
        width: 100%;
        font-size: 17px;
    }
}

.achievements-paragraph-container {
    width: 77%;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width:768px) {
        width: 100%;
        justify-content: center;
    }
}