.degrees {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .degree-year-container {
        background-color: #ececec;
        height: 80px;
        width: 20%;
        font-size: 21px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width:768px) {
            width: 50%;
        }
    }

    .icons {
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 2%;
        height: 90px;

        i {
            width: 25.5px;
            height: 23px;
            padding-top: 5px;
            transform: scale(2.2);
            background-color: #ececec;
        }

        @media screen and (max-width:768px) {
            width: 50%;
        }
    }

    .details-paragraph {
        background-color: #ececec;
        width: auto;
        padding-left: 2%;
        padding-right: 2%;
        text-align: center;
        font-weight: 500;
        font-size: 17.8px;


        @media screen and (max-width:768px) {
            width: 89.5%;
            padding: 0;
        }
    }

    @media screen and (max-width:768px) {

        margin-top: 12.3%;
    }
}

.first-icon {
    i {
        text-align: center;
    }
}

.second-icon {
    i {
        text-align: center;
    }
}

.third-icon {
    i {
        text-align: center;
    }
}

.fourth-icon {
    i {
        text-align: center;
    }
}

.fifth-icon {
    i {
        text-align: center;
    }
}

.sixth-icon {
    i {
        text-align: center;
    }
}